.ydf-btn {
  font-size: 14px;
  height: 32px;
  min-width: 80px;
  border-radius: 4px;
  padding: 0 8px;
}

.ydf-btn-primary {
  background-color: #6f9bfa;
  border: none;
  color: #fff;
  &:hover {
    background-color: #3c6ed8;
  }
}

.ydf-btn-dashed {
  background-color: #fff;
  border: #867f7f dashed 1px;
  color: #000;
  &:hover {
    color: #6f9bfa;
    border-color: #6f9bfa;
  }
}

.ydf-btn-link {
  background-color: #fff;
  border: none;
  color: #6f9bfa;
  &:hover {
    color: #3c6ed8;
  }
}

.ydf-btn-text {
  background-color: #fff;
  border: none;
  color: #000;
  &:hover {
    background-color: #e4e1e1;
  }
}

.ydf-btn-default {
  background-color: #fff;
  border: #867f7f solid 1px;
  color: #000;
  &:hover {
    color: #6f9bfa;
    border-color: #6f9bfa;
  }
}