.ydf-btn {
  font-size: 14px;
  height: 32px;
  min-width: 32px;
  border-radius: 4px;
  padding: 0 8px;
  background-color: #fff;
  border: #867f7f solid 1px;
  color: #000;
  cursor: pointer;
  &:hover {
    color: #6f9bfa;
    border-color: #6f9bfa;
  }
}

@import "type";
@import "shape";
@import "size";
@import "disabled";